{% extends "views/_base/base.html" %}

{% from "components/alert-dialog/alert-dialog.html" import alertDialog %}

{%
set content = {
	"openButtonLabel": "Open alert dialog",
	"cancelButtonLabel": "No",
	"confirmButtonLabel": "Yes, delete my account",
	"name": "modal",
	"title": "Are you sure you want to delete your account?",
	"content": "Deleting your account is irreversible. Do you really want to delete your account?"
}
%}

{% block content %}
	<h2>Alert dialog</h2>

	<button data-alert-dialog-trigger="{{ content.name }}">{{ content.openButtonLabel }}</button>
{% endblock %}

{% block sidecontent %}
	{{ alertDialog(content) }}
{% endblock %}
