{% macro tabs(content) %}
<div class="tabs" data-tabs>
	<ul class="tabs-list flat-list" data-tabs-list>
		{% for item in content %}
		<li class="tab" data-tabs-tab>
			<a href="#{{ item.id }}"
			   aria-controls="{{ item.id }}"
			   data-tabs-trigger="{{loop.index}}">
				{{ item.title }}
			</a>
		</li>
		{% endfor %}
	</ul>

	{% for item in content %}
	<section id="{{ item.id }}"
			 class="tab-content"
			 data-tabs-content="{{loop.index}}">
		<h3>{{ item.title }}</h3>

		<p>{{ item.content }}</p>
	</section>
	{% endfor %}
</div>
{% endmacro %}
