{% macro alertDialog(content) %}
<div class="alert-dialog hidden"
	 data-alert-dialog-overlay="{{ content.name }}"
	 aria-hidden="true">

	<div class="alert-dialog-window"
		 role="alertdialog"
		 aria-modal="true"
		 aria-labelledby="alert-dialog-title"
		 tabindex="0"
		 data-alert-dialog-window>

		<h1 id="alert-dialog-title">{{ content.title }}</h1>

		<p>{{ content.content }}</p>

		<button data-alert-dialog-close>{{ content.cancelButtonLabel }}</button>
		<button>{{ content.confirmButtonLabel }}</button>
	</div>
</div>
{% endmacro %}
