{% extends "views/_base/base.html" %}

{% from "components/tabs/tabs.html" import tabs %}

{%
set content = {
	title: "Web technologies",
	tabs: [
		{
			"id": "section1",
			"title": "HTML",
			"content": "Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications."
		},
		{
			"id": "section2",
			"title": "CSS",
			"content": "Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language. Although most often used to set the visual style of web pages and user interfaces written in HTML and XHTML, the language can be applied to any XML document, including plain XML, SVG and XUL, and is applicable to rendering in speech, or on other media."
		},
		{
			"id": "section3",
			"title": "JavaScript",
			"content": "JavaScript, often abbreviated as JS, is a high-level, dynamic, weakly typed, object-based, multi-paradigm, and interpreted programming language."
		}
	]
}
%}

{% block content %}
	<h2>Tabs</h2>

	{{ tabs(content) }}
{% endblock %}
